
/* header */
.one{
    overflow: hidden;

}
 ul li  {
    float: right;
    margin: 20px;
   
 }

header nav {
    width: calc(70% - 40px);
    
}
a {
    text-decoration: none;
    color: brown;
    
    
}    
   

ul {
    float: right;
    
}


h1 {
    float: left;
    margin: 40px;
    width: calc(30% - 40px);
}
header {
    background-color: rgb(45, 48, 45);
    
    
}

button {
    appearance: none;
    background-color: rgb(85, 59, 109);
    border-color: rgb(133, 153, 219);
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.seven {
    font-size: 25px;
    text-align: center;
    clear: both;
}
.container {

    clear: both;
    height: 400px;
    overflow: hidden;
    background-image: url(../img/Nochnoy-Gorod\ \(2560x1600\).jpg);
    background-size: cover;
    background-position: center;
    }
.word {
    font-size: 15px;
    text-align: center;  
}
.text{
    float: left;
    width: 30%;
    color: rgb(30, 126, 182);
    font-family: 'Fraunces', serif;
}
form {
    float: right;
}
label{
    padding: 30px;
}
.email{
    margin: 20px;
}
button{
    margin-left: 218px;
    margin-top: 164px;
    margin: 49px;
    padding: 10px;
}
/* header end */

/* main */
.cry {
    overflow: hidden;
}
 .bgr {
    background-color: rgb(187, 187, 230);
 }

.icon {
    overflow: hidden;
    float: right;
    width: 44px;
        
}
.bad {
    float: left;
    width: 30%;
    overflow: hidden;
    font-family: 'Pacifico', cursive;
      
}
.table {
    float: right;
    margin: 10px;
	
}

 .play {
    float: left;
    width: 705px;
    height: 200px; 
    margin: 10px;
    font-family: 'Pacifico', cursive;
}
.qwerty{
    
    margin-left: auto;
    appearance: none;
    background-color: rgb(85, 59, 109);
}
.dark {
    overflow: hidden;
}

footer{
    clear: both;
    background: rgb(71, 2, 2);
}



